header {
    margin: 0 auto;
}

.header__inner {
    border-bottom: solid 1px #e2dbdb;
}

.header__logo {
    text-align: center;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    color: #9d908d;
    font-weight: bold;
    margin-bottom: 15px;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    color: #9d908d;
    font-weight: bold;
    margin-top: 40px;
}


.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
  }
  
  .confirm__heading {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .form {
    margin: 0 auto;
    width: 60%;
  }
  
  .confirm-table {
    border: 1px solid #ddd;
  }
  
  .confirm-table__inner {
    width: 100%;
  }
  
  .confirm-table__header {
    padding: 0 30px;
    width: 30%;
    border-bottom: 1px solid #ddd;
    background-color: #8e7b76;
    font-family: "Playfair Display", serif;
    color: #fff;
    text-align: left;
  }
  
  .confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
    color: #8e7b76;
  }

  td.confirm-table__text {
    color: #8e7b76;
    font-size: 13px;
  }

  .row {
    display: flex;
  }
  
  .confirm-table__row:last-child .confirm-table__header,
  .confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
  }
  
  .form__button {
    margin-top: 30px;
    text-align: center;
  }

  .form__button-submit {
    margin-left: 10%;
    margin-top: 20px;
    font-size: 15px;
    background-color: #8e7b76;
    color: #fff;
    border: #8e7b76;
    padding: 5px 30px;
    cursor: pointer;
  }

  .back__button-submit {
    color: #8e7b76;
    font-size: 15px;
    border: none;
    background-color: #fff;
    border-bottom: #8e7b76 1px solid;
    position: relative;
    left: 30px;
  }