.login-form__heading {
    text-align: center;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    color: #9d908d;
    font-weight: bold;
    margin-bottom: 100px;
    border-bottom: solid 1px #e2dbdb;
  }
  
  h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    color: #9d908d;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0;
  }
  
  .header-form__button-submit {
    padding: 3px 10px;
    position: relative;
    left: 550px;
    top: -50px;
  }
  
  main {
    width: 100%;
    height: 83vh;
    background-color: #fbe8d0;
    margin: -100px auto;
  }
  
  h3 {
    text-align: center;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    color: #9d908d;
    position: relative;
    top: 80px;
  }
  
  .form {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e8dfdf;
    padding: 70px 150px;
    position: relative;
    top: 100px;
  }
  
  .form__group {
    margin-bottom: 5px;
  }
  
  .form__group-title {
    text-align: left;
  }
  
  .form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
  }
  
  .form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
  
    appearance: none;
  }
  
  .form__button {
    margin-top: 20px;
  }
  
  .form__button-submit {
    font-size: 15px;
    border: none;
    background-color: #8e7b76;
    color: #fff;
    border: #8e7b76;
    padding: 10px 30px;
  }